:root {
  --columns: 10;
}

* {
  font-family: "Bebas Neue", cursive;
}

body {
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  background: linear-gradient(0deg, #0be69dc2, #dd5e5eef, #c138f7da, #0be69dc2);
  background-size: 400% 400%;
  animation: scroll 10s linear infinite;
  animation-direction: alternate;
  text-align: center;
}

@keyframes scroll {
  100% {
    background-position: 0px -2000px;
  }
}

.container {
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  height: 60vh;
  width: 60vh;
  border: 1px solid;
  box-shadow: 0px 15px 21px -5px rgba(0, 0, 0, 0.4);
  background-color: white;
}

.cell {
  border: 1px solid;
}

button {
  padding: 0.2em 1em;
  border: 2px solid black;
  border-radius: 0.12em;
  color: #000000;
  background-color: white;
  transition: all 0.3s;
  margin: 20px;
  font-size: 27px;
}

button:hover {
  color: #ffffff;
  background-color: transparent;
  border: 2px solid white;
  transform: scale(1.1);
}

header {
  font-size: 6em;
  color: white;
}

.button-wrapper {
  display: flex;
}

@media screen and (max-width: 500px) {
  .container {
    height: 40vh;
    width: 40vh;
  }
  header {
    font-size: 3em;
  }
}
